<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="asset/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <title>Category</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="row-flex">
                <div class="header-logo">
                    <img src="asset/image/logo.jpg" alt="">
                </div>
                <div class="header-nav">
                    <nav>
                        <ul>
                            <li><a href="#">HOME</a></li>
                            <li><a href="#">ABOUT US</a></li>
                            <li><a href="#">PRODUCT</a></li>
                            <li><a href="#">PROJECT</a></li>
                            <li><a href="#">CONTACT US</a></li>
                            <li><a href="#">LOGIN</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header-search">
                    <input type="text" placeholder="search">
                    <i class="ri-search-line"></i>
                </div>
                <div class="header-cart">
                    <i class="ri-shopping-cart-2-line" number="0"></i>
                </div>
            </div>
        </div>
    </header>

    <section class="category">
        <div class="container">
            <div class="category-top row">
                <p>Category</p> <span>&#10230;</span><p>Furniture</p><span>&#10230;</span><p>Sofa</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="category-left">
                    <ul>
                        <li class="category-left-li"><a href="#">Furniture</a>
                            <ul>
                                <li><a href="">Sofa</a></li>
                                <li><a href="">Chair</a></li>
                                <li><a href="">Table</a></li>
                                <li><a href="">Bed</a></li>
                                <li><a href="">Wardrobe</a></li>
                                <li><a href="">Bathroom</a></li>
                                <li><a href="">Kitchen</a></li>
                            </ul>
                        </li>
                        <li class="category-left-li"><a href="#">Light</a>
                            <ul>
                                <li><a href="">Ceiling</a></li>
                                <li><a href="">Wall</a></li>
                            </ul>
                        </li>
                        <li class="category-left-li"><a href="#">Cover</a>
                            <ul>
                                <li><a href="">Curtain</a></li>
                                <li><a href="">Carpet</a></li>
                            </ul>
                        </li>
                        <li class="category-left-li"><a href="">Decor</a></li>
                    </ul>
                </div>
                <div class="category-right row">
                    <div class="category-right-top-item">
                        <p>Sofa</p>
                    </div>
                    <div class="category-right-top-item">
                        <button><span>List</span> <i class="fas fa-sort-down"></i></button>
                    </div>
                    <div class="category-right-top-item">
                        <select name="" id="">
                            <option value="">Sort by</option>
                            <option value="">Highest to lowest price</option>
                            <option value="">Lowest to highest price</option>
                        </select>
                    </div>
                    <div class="category-right-content row">
                        <div class="category-right-content-item">
                            <img src="asset/image/furniture/sofa/sofa1_1.jpg" alt="">
                            <h1>Sofa SF01</h1>
                            <p>790,000 <sup>VND</sup></p>
                        </div>
                        <div class="category-right-content-item">
                            <img src="asset/image/furniture/sofa/sofa2_1.jpg" alt="">
                            <h1>Sofa SF02</h1>
                            <p>790,000 <sup>VND</sup></p>
                        </div>
                        <div class="category-right-content-item">
                            <img src="asset/image/furniture/sofa/sofa3_1.jpg" alt="">
                            <h1>Sofa SF03</h1>
                            <p>790,000 <sup>VND</sup></p>
                        </div>
                        <div class="category-right-content-item">
                            <img src="asset/image/furniture/sofa/sofa4_1.jpg" alt="">
                            <h1>Sofa SF04</h1>
                            <p>790,000 <sup>VND</sup></p>
                        </div>
                        <div class="category-right-content-item">
                            <img src="asset/image/furniture/sofa/sofa5_1.jpg" alt="">
                            <h1>Sofa SF05</h1>
                            <p>790,000 <sup>VND</sup></p>
                        </div>
                    </div>
                    <div class="category-right-bottom">
                        <div class="category-right-bottom-items">
                            <p><span>&#171;</span> <span class="page-number">1</span> <span class="page-number">2</span> <span class="page-number">3</span> <span>&#187;</span> <span>Last page</span></p>
                        </div>
                    </div>                
                </div>
            </div>
        </div>
    </section>

    <script src="asset/js/category.js"></script>
</body>
</html>
