<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="asset/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <title>Delivery</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="row-flex">
                <div class="header-logo">
                    <img src="asset/image/logo.jpg" alt="">
                </div>
                <div class="header-nav">
                    <nav>
                        <ul>
                            <li><a href="">HOME</a></li>
                            <li><a href="">ABOUT US</a></li>
                            <li><a href="">PRODUCT</a></li>
                            <li><a href="">PROJECT</a></li>
                            <li><a href="">CONTACT US</a></li>
                            <li><a href="">LOGIN</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header-search">
                    <input type="text" placeholder="search">
                    <i class="ri-search-line"></i>
                </div>
                <div class="header-cart">
                    <i class="ri-shopping-cart-2-line" number="0"></i>
                </div>
            </div>
        </div>
    </header>

    <section class="delivery">
        <div class="container">
            <div class="delivery-top-wrap">
                <div class="delivery-top">
                    <div class="delivery-top-cart delivery-top-item">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    <div class="delivery-top-address delivery-top-item">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="delivery-content row">
                <div class="delivery-content-left">
                    <p>Fill in your information</p>
                    <div class="delivery-content-left-login row">
                        <i class="fas fa-sign-in-alt"></i>
                        <p>Already have an account? <span style="font-weight: bold;">Login</span></p>
                    </div>
                    <div class="delivery-content-left-signup row">
                        <input name="type" type="radio">
                        <p>Don't have an account? <span style="font-weight: bold;">Sign Up</span></p>
                    </div>
                    <div class="delivery-content-left-input-top row">
                        <div class="delivery-content-left-input-top-item">
                            <label for="">Full Name<span style="color: red;">*</span></label>
                            <input type="text">
                        </div>
                        <div class="delivery-content-left-input-top-item">
                            <label for="">Phone number<span style="color: red;">*</span></label>
                            <input type="text">
                        </div>
                        <div class="delivery-content-left-input-top-item">
                            <label for="">City/Province<span style="color: red;">*</span></label>
                            <input type="text">
                        </div>
                        <div class="delivery-content-left-input-top-item">
                            <label for="">District<span style="color: red;">*</span></label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="delivery-content-left-input-bottom">
                        <label for="">Address<span style="color: red;">*</span></label>
                        <input type="text">
                    </div>
                    <div class="delivery-content-left-button row">
                        <a href=""><span>&#171;</span><p>Back to Cart</p></a>
                        <button><p style="font-weight: bold;">Payment and Shipping</p></button>
                    </div>
                </div>
                <div class="delivery-content-right">
                    <table>
                        <tr>
                            <th>Ten san pham</th>
                            <th>Quantity</th>
                            <th>Amount</th>
                        </tr>
                        <tr>
                            <td>Lazy Sofa SF01</td>
                            <td>1</td>
                            <td>790.000<sup>VND</sup></td>
                        </tr>
                        <tr>
                            <td>Cozy Chair CH01</td>
                            <td>1</td>
                            <td>790.000<sup>VND</sup></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;" colspan="3">Total</td>
                            <td style="font-weight: bold;"><p>790.000<sup>VND</sup></p></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;" colspan="3">VAT</td>
                            <td style="font-weight: bold;"><p>790.000<sup>VND</sup></p></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;" colspan="3">Total Amount</td>
                            <td style="font-weight: bold;"><p>790.000<sup>VND</sup></p></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>


    <script src="asset/js/script.js"></script>
</body>
</html>