<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="asset/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
    <title>Furniture</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="row-flex">
                <div class="header-logo">
                    <img src="asset/image/logo.jpg" alt="">
                </div>
                <div class="header-nav">
                    <nav>
                        <ul>
                            <li><a href="">HOME</a></li>
                            <li><a href="">ABOUT US</a></li>
                            <li><a href="">PRODUCT</a></li>
                            <li><a href="">PROJECT</a></li>
                            <li><a href="">CONTACT US</a></li>
                            <li><a href="">LOGIN</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header-search">
                    <input type="text" placeholder="search">
                    <i class="ri-search-line"></i>
                </div>
                <div class="header-cart">
                    <i class="ri-shopping-cart-2-line" number="0"></i>
                </div>
            </div>
        </div>
    </header>
    <section class="slider">
        <div class="slider-items">
            <div class="slider-item">
                <img src="asset/image/logo.jpg" alt="">
            </div>
            <div class="slider-item">
                <img src="asset/image/logo.jpg" alt="">
            </div>
            <div class="slider-item">
                <img src="asset/image/logo.jpg" alt="">
            </div>
        </div>
        <div class="slider-arrow">
            <i class="ri-arrow-right-wide-line"></i>
            <i class="ri-arrow-left-wide-line"></i>
        </div>
    </section>


    <script src="asset/js/script.js"></script>
</body>
</html>