/* Pop-up Login */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-box {
    top: 40%;
    opacity: 0;
    visibility: hidden;
    background: white;
    height: auto;
    width: 350px;
    margin-top: 25px;
    padding: 10px 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    display: none;
}

.show-modal {
    opacity: 0;
    visibility: hidden;
}
.modal-box.show-modal {
    opacity: 1;
    visibility: visible;
    transition: 0.4s;
    display: block;
}

.modal-box .fa-times {
    position: absolute;
    top: 0;
    right: 0;
    background: #ffffff;
    height: 20px;
    width: 20px;
    line-height: 30px;
    color: rgb(249, 156, 43);
    font-size: 18px;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
}
.fa-times:hover {
    font-size: 30px;
}

.form_container {
    background: #ffffff;
    padding: 10px;
    margin-top: 5px;
    border-radius: 3px;
    display: flex;
}

.title-login {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.title-login::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 3px;
    width: 65px;
    border-radius: 5px;
    background: linear-gradient(135deg, #ffedd4, #ffa200);
}

form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0 12px 0;
    padding-left: 15px;
}
form .user-details .input-box {
    margin-bottom: 15px;
}
form .input-box span.details {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
}

.user-details .input-box input {
    height: 35px;
    width: 70%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #f6a71e;
}

form .button {
    height: 30px;
    margin: 0 0 10px 80px;
}
form .button input {
    height: 100%;
    width: 70%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #ffedd4, #ffa200);
}
form .button input:hover {
    transform: scale(0.99);
    background: linear-gradient(135deg, #f6a71e, #ffedd4);
}

.forget a {
    text-decoration: none;
    color: rgb(28, 28, 28);
}

.forget :hover {
    text-decoration: underline;
    font-weight: bold;
}

.other {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.another-signin {
    position: relative;
    left: 45px;
    background-color: #ffffff;
    border: #f99924 solid 2px;
    border-radius: 50px;
    width: 200px;
    height: 30px;
}

.another-signin a {
    text-decoration: none;
    color: rgb(28, 28, 28);
    font-weight: bold;
}

.another-signin :hover {
    color: #f99924;
    font-weight: bold;
}

.sign-up {
    padding-left: 25%;
}

.sign-up a {
    color: hsl(33, 95%, 56%);
}

.sign-up:hover {
    font-weight: bold;
}
